$background-color: #f7e0b1;
$white: white;
$red: #a91010;
$error-color: #f84600;
$green: #698d1b;
$half-white: scale-color($background-color, $lightness: 25%);
$almost-white: scale-color($background-color, $lightness: 55%);
$text-color: #454545;
$header-font: "Kalam"