<app-header></app-header>
<div id="wrapper" [class.thinking]="loggingIn" [class.buzzing]="buzzing">
  <ngb-tabset (tabChange)="onTabChange()">
    <ngb-tab>
      <ng-template ngbTabTitle><span class="login-title">Log in</span></ng-template>
      <ng-template ngbTabContent>
        <form>
            <div class="form-group">
              <input 
                #emailInput 
                type="email"
                name="email" 
                class="form-control form-control-lg" 
                placeholder="Email"
                [(ngModel)]="email"
              >
            </div>
            <div class="form-group">
              <input 
                type="password" 
                name="password"
                class="form-control form-control-lg" 
                placeholder="Password"
                [(ngModel)]="password"
              >
            </div>
            <button type="button" class="btn btn-lg btn-success" (click)="loginClick()">Log in</button>
            <div *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</div>
          </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span class="signup-title">Sign up</span></ng-template>
      <ng-template ngbTabContent>
        The Gift Network is still in development!
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>