@import 'styles/variables';

#wrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
  min-height: 100%; 
  padding-top:50px;
  background-color: $background-color;
}
#logo-apple {
  margin-right:30px;
  margin-top:-15px;
}
#login {
  width: 500px;
  margin-top:50px;
}
.login-title {
  font-family: $header-font;
  color: $red;
  font-size:28px;
}
.signup-title {
  font-family: $header-font;
  color: $green;
  font-size:28px;
}